<ion-content>
  <form [formGroup]="orcamento">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Quantos notebooks deseja conectar na rede?</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-input type="number" formControlName="notebooks" name="notebooks"></ion-input>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Quantos computadores de mesa deseja conectar na rede?</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-input type="number" formControlName="desktops" name="desktops" ></ion-input>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Qual a velocidade da rede interna? </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-select formControlName="velocidade" name="velocidade" >
          <ion-select-option [value]="300">300 mb/s</ion-select-option>
          <ion-select-option [value]="500">500 mb/s</ion-select-option>
        </ion-select>

      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Área de cobertura do sinal WIFI (m²)? </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-input type="number" formControlName="cobertura"  name="cobertura" ></ion-input>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-button (click) ="calcular(orcamento)" [disabled]="!orcamento.valid"  buttonType="button" color="primary">
          <ion-icon name="cash-outline"></ion-icon>
          Calcular
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Orçamento Total</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-label color="primary" >{{total}}</ion-label>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="emailToggle">
      <ion-card-header>
        <ion-card-title>Se interessou né</ion-card-title>
        <ion-card-subtitle>Solicita um orcamento para gente</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-input placeholder="seu-email@exemplo.com" type="email" formControlName="email" name="email"></ion-input>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="emailToggle">
      <ion-card-content>
        <ion-button buttonType="button" (click)="enviar(orcamento)">
          <ion-icon name="mail-outline" ></ion-icon>
          Solicitar Orçamento
        </ion-button>
      </ion-card-content>
    </ion-card>


  </form>
</ion-content>
